.amber {
  color: #f59d06;
}

.blue {
  color: #0062ff;
}

.orange {
  color: #f06400;
}

.emerald {
  color: #01feaa;
}

.teal {
  color: #00a995;
}

.red {
  color: #f53a5f;
}

.light-blue {
  background-color: #008dcf;
}

/* Write your CSS here */

.btn3 {
  background-color: transparent;
  display: flex;
  align-items: center;
  border-width: 0;
}

.comment-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: bisque;
  border-color: rgb(27, 27, 27);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 8px;
}

.wow {
  text-decoration-line: line-through;
}

.delHOver:hover {
  color: #ff4848;
}

.ics {
  font-size: 30px;
  cursor: pointer;
}

.header {
  font-size: 20px;
  font-weight: 1000;
}

.bts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-width: 0px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 576px) {
  .bts {
    height: 30px;
    width: 30px;
  }
  .ics {
    font-size: 20px;
  }
  .header {
    font-size: 10px;
  }
}
